---
layout: default
---

<!-- Start Hero -->
<div class="hero" style="background: url('{{ site.baseurl }}/img/{{ site.hero.hero_img }}') no-repeat; background-size: cover; background-color:rgba(255, 255, 255, 0.8); height: 300px;">
    <div class="hero-content">
        <div class="container-fluid">
            <div id="hero-text" class="hero-content-inner" style="height: 300px;">
                <h1><strong>{{ site.hero.hero_title }}</strong></h1>
                <p><strong>{{ site.hero.hero_description }}</strong></p>
            </div>
        </div>
    </div>
</div>
<!-- End Hero -->

<!-- Start 3 columns -->
<div class="three-shade-col">
    <div class="col-sm-4">
        <svg class="icon icon-envelope-o"><use xlink:href="#icon-envelope-o"></use></svg>
        <h3>Kontakt</h3>
        <ul>
            {% if site.contact.phone %}
                <li><strong>Telefon:</strong> <a href="tel:{{ site.contact.phone }}">{{ site.contact.phone }}</a></li>
            {% endif %}
            {% if site.contact.fax %}
                <li><strong>Fax:</strong> {{ site.contact.phone }}</li>
            {% endif %}                
            {% if site.contact.emergency %}
                <li><strong>Ärztlicher Notdienst:</strong> <a href="tel:{{ site.contact.emergency }}">{{ site.contact.emergency }}</a></li>
            {% endif %}
            {% if site.contact.email %}
                <li><strong>E-Mail:</strong> <a href="mailto:{{ site.contact.email }}">{{ site.contact.email }}</a></li>
            {% endif %}
        </ul>
    </div>
    <div class="col-sm-4">
        <svg class="icon icon-clock-o"><use xlink:href="#icon-clock-o"></use></svg>
        <h3>Sprechzeiten</h3>
        <ul>
            <li><strong>Montag:</strong> {{ site.monday }}</li>
            <li><strong>Dienstag:</strong> {{ site.tuesday }}</li>
            <li><strong>Mittwoch:</strong> {{ site.wednesday }}</li>
            <li><strong>Donnerstag:</strong> {{ site.thursday }}</li>
            <li><strong>Freitag:</strong> {{ site.friday }}</li>
        </ul>
    </div>
    <div class="col-sm-4">
        <svg class="icon icon-map-marker"><use xlink:href="#icon-map-marker"></use></svg>
        <h3>Adresse</h3>
            <ul>
                <li>{{ site.contact.address }}</li>
                <li>{{ site.contact.city }}</li>
                <br>
                <li><a href="{{ site.contact.google_maps }}">Google Maps</a></li>
            </ul>
    </div>
</div>
<!-- End 3 columns -->

<!-- Aktuelle Infos -->
{% if site.infobox.titel1 or site.infobox.text1 or site.infobox.titel2 or site.infobox.text2 or site.infobox.titel3 or site.infobox.text3 %}
    <div id="news" class="about">
        <div class="container-fluid">
            <h2 class="section-title">Aktuelle Informationen</h2>
            <div class="row">
                <div class="infobox">
                    {% if site.infobox.titel1 %}
                        <h3>{% if site.infobox.icon1 %}<svg class="icon icon-{{ site.infobox.icon1 }}"><use xlink:href="#icon-{{ site.infobox.icon1 }}"></use></svg> {% endif %}{{ site.infobox.titel1 }}</h3>
                    {% endif %}
                    {% if site.infobox.text1 %}
                        <p>{{ site.infobox.text1 }}</p>
                    {% endif %}
                    {% if site.infobox.titel2 %}
                        <h3>{% if site.infobox.icon2 %}<svg class="icon icon-{{ site.infobox.icon2 }}"><use xlink:href="#icon-{{ site.infobox.icon2 }}"></use></svg> {% endif %}{{ site.infobox.titel2 }}</h3>
                    {% endif %}
                    {% if site.infobox.text2 %}
                        <p>{{ site.infobox.text2 }}</p>
                    {% endif %}
                    {% if site.infobox.titel3 %}
                        <h3>{% if site.infobox.icon3 %}<svg class="icon icon-{{ site.infobox.icon3 }}"><use xlink:href="#icon-{{ site.infobox.icon3 }}"></use></svg> {% endif %}{{ site.infobox.titel3 }}</h3>
                    {% endif %}
                    {% if site.infobox.text1 %}
                        <p>{{ site.infobox.text3 }}</p>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endif %}

<!-- End Aktuelle Infos -->

<!-- Start About -->
<div id="about" class="about">
    <div class="container-fluid">
        <h2 class="section-title">Über uns</h2>

        <div class="row">
            <div class="col-sm-6">
                <h3>Willkommen zu unserer Praxis</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perspiciatis nostrum ab vero temporibus magnam, delectus!</p>

                <div class="media">
                    <div class="media-left">
                        <div class="boxed-icon">
                            <svg class="icon icon-heart"><use xlink:href="#icon-heart"></use></svg>
                        </div>
                    </div>
                    <div class="media-body">
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veniam explicabo unde doloremque quo, fugit, nisi.</p>
                    </div>
                </div>

                <div class="media">
                    <div class="media-left">
                        <div class="boxed-icon">
                            <svg class="icon icon-medkit"><use xlink:href="#icon-medkit"></use></svg>
                        </div>
                    </div>
                    <div class="media-body">
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veniam explicabo unde doloremque quo, fugit, nisi.</p>
                    </div>
                </div>

                <div class="media">
                    <div class="media-left">
                        <div class="boxed-icon">
                            <svg class="icon icon-star"><use xlink:href="#icon-star"></use></svg>
                        </div>
                    </div>
                    <div class="media-body">
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veniam explicabo unde doloremque quo, fugit, nisi.</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <img src="img/team.jpg" alt="...">
            </div>
        </div>
    </div>
</div>
<!-- End About -->

<!-- Start Treatments -->
<div id="leistungen" class="treatments">
    <div class="container-fluid">
        <h2 class="section-title">Leistungen</h2>

        <div class="row">
            {% for treatment in site.data.treatments %}
                <div class="col-sm-6 col-md-4">
                    <div class="icon-box">
                        <svg class="icon {{ treatment.icon }}"><use xlink:href="#{{ treatment.icon }}"></use></svg>
                        <h4>{{ treatment.title }}</h4>
                        <p>{{ treatment.description }}</p>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>
<!-- End Treatments -->

<!-- Start Our team -->
<div id="team" class="team"> 
    <h2 class="section-title">Unser Team</h2> 
    <div id="team-carousel">
    {% for member in site.data.team %}
        <div class="expandable-box">
                <img src="{{ site.baseurl }}/img/{{ member.image }}" alt="{{ member.name }}" class="teamimg">
                <h3 style="color: white;">{{ member.name }}</h3>
                    {% if member.description1 %}
                        <p>{{ member.description1 }}</p>
                    {% endif %}
                    {% if member.description2 %}
                        <p>{{ member.description2 }}</p>
                    {% endif %}
                    {% if member.description3 %}
                        <p>{{ member.description3 }}</p>
                    {% endif %}
                    {% if member.description4 %}
                        <p>{{ member.description4 }}</p>
                    {% endif %}
        </div>
    {% endfor %}
    </div>
</div>
<!-- End Our team -->

<!-- Start Gallery -->
<div id="praxis" class="gallery">
        
    <h2 class="section-title">Unsere Praxis</h2>

    {% for images in site.data.gallery %}
        <a href="{{ site.baseurl }}/img/gallery/large/{{ images.image_large }}" class="gallery-item expandable-box image-link">
            <div class="expandable-box-top">
                <img src="{{ site.baseurl }}/img/gallery/thumb/{{ images.image_thumb }}" alt="{{ images.image_alt }}">
            </div>
            <div class="expandable-box-bottom">
                <span><svg class="icon icon-chain"><use xlink:href="#icon-chain"></use></svg></span>
            </div>
        </a>
    {% endfor %}

</div>
<!-- End Gallery -->

<!-- Start Anfahrt -->
<div id="anfahrt">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2445.5038785760385!2d8.757190415944217!3d52.19789016780254!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47ba12a50c02b471%3A0x7ca9e8e3382e9dff!2sGemeinschaftspraxis%20Dr.%20Jens%20Biesenbaum%20und%20Dr.%20Uwe%20Gerbaulet!5e0!3m2!1sen!2sde!4v1585835099506!5m2!1sen!2sde" width="100%" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
</div>
<!-- End Map -->

<!-- Start Rechtliches -->

<!-- Start 3 columns -->
<div class="three-shade-col" id="rechtliches">
    <div class="col-sm-4">
    <h2 style="color: white;">Impressum</h2>
        <p>Dr. Jens Biesenbaum<br>
        Goethestraße 1-3<br>
        32584 Löhne<br>
        Tel.: 05731 81482<br>
        E-Mail: mail@biesie.de</p>
    </div>
    <div class="col-sm-4">
        <h2 style="color: white;">Berufsspezifische Angaben</h2>
        <p> Berufsbezeichnung Arzt wurde in Deutschland verliehen.<br>
        Zuständige Ärztekammer: Ärztekammer Westfalen-Lippe<br>
        Zuständige Kassenärztliche Vereinigung: Westfalen-Lippe</p>
    </div>
    <div class="col-sm-4">
        <h2 style="color: white;">Berufsrechtliche Regelungen:</h2>
        <p>Es gelten folgende berufsrechtliche Regelungen:<br>
        Berufsordnung der Ärztekammer Westfalen-Lippe<br>
        Heilberufe-Kammergesetz Nordrhein-Westfalen<br></p>
    </div>
</div>
<!-- End Map -->